header {
    color: green;
    font-size: 50px;
    text-align: center;
}

.info {
    text-align: center;
}

p:first-child {
    margin-top: 50px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    margin-top: 40px;
}

label:first-child {
    margin-top: 100px;
}

input:focus {
    background-color: snow;
}

#submitButton {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: 2px solid #4CAF50;
}

#submitButton:hover {
    background-color: lightcoral;
    color: green
}

body {
    margin: 15px;
    background: cornsilk;
}

#output {
    width: 80%;
    height: 100px;
}

#textAreaLabel {
    color: green;
}

.alertContainer {
    width: 600px;
    margin: 0 auto;
}

#errorField {
    margin-top: 10px;
    display: none;

}

footer {
    position: fixed;
    bottom: 0;
}